/*
 * -------------------------------------------------
 *  nfcore/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'rnaseq'
  description = 'RNA-Seq analysis pipeline'
  homePage = 'https://gitlab.curie.fr/data-analysis/rnaseq'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '4.2.1'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.10.6'
  doi = "10.5281/zenodo.7443721"
}

/*
 * Global default params, used in configs
 */

params {
  email = false
  container = '' 
  help = false

  // Workflow flags
  name = false
  genome = false
  gencode = false
  reads = null
  readPaths = null
  samplePlan = null
  singleEnd = false
  trimming = false
  pdx = false

  // default options
  multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"

  // Output directories
  outDir = "${launchDir}/results"
  summaryDir = "${params.outDir}/summary"
  metadata = "$projectDir/assets/metadata.tsv"

  // Trimming
  trimmingOpts = "--trim-n --length 20"

  // Alignment
  aligner = false
  pseudoAligner = false
  bowtieOpts = "-v 2 -a -m 1 --best --strata --nomaqround -y"
  starDefaultOpts = "--outSAMmultNmax 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
  starOpts = false
  starTwoPass = false
  hisat2Opts = ""

  // Counts
  counts = false
  htseqOpts = "-f bam -t exon -r pos"
  featurecountsOpts = "-t exon -C -p"
  salmonQuantOpts = "--numBootstraps 100 --gcBias"

  // Preseq
  preseqDefect = false

  // RSeQC
  stranded = 'auto'
  nCheck = 200000
  
  // samtools
  sortMaxMemory = "900M"

  // Reference-guided de novo assembly
  denovo = false
  stringtieOpts = ""
  scallopOpts = ""

  // references
  splicesites = false
  saveReference = false
  saveIntermediates = false
 
  skipQC = false
  skipRrna = false
  skipFastqc = false
  skipRseqc = false
  skipReaddist = false
  skipSaturation = false
  skipMarkDup = false
  skipQualimap = false
  skipExpan = false
  skipBigwig = false
  skipIdentito = false
  skipMultiQC = false
  skipGeneCountsAnalysis = false
  skipGenebodyCoverage = false
  skipSoftVersions = false
 }


/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
}

// Custom options for different genomes
includeConfig 'conf/genomes.config'

// Load modules
includeConfig 'conf/modules.config'
