/*
 * -------------------------------------------------
 *  nfcore/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'rnaseq'
  description = 'RNA-Seq analysis pipeline'
  homePage = 'https://gitlab.curie.fr/data-analysis/rnaseq'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '3.2.0dev'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
}

/*
 * Global default params, used in configs
 */

params {
  container = '' 
  help = false

  // Workflow flags
  name = false
  seqCenter = false 
  genome = false
  reads = null
  samplePlan = null
  singleEnd = false

  // default options
  multiqcConfig = "$baseDir/assets/multiqc_config.yaml"
  metadata = "$baseDir/assets/metadata.tsv"

  /* Alignment */
  aligner = 'star'
  
  //bowtie
  bowtieOpts = "-v 2 -a -m 1 --best --strata --nomaqround -y"
  
  // STAR
  starOpts = "--outSAMmultNmax 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
  starOptsCounts = "--quantMode GeneCounts"

  // TopHat
  tophat2Opts = "--b2-sensitive -g 1 -N 2 --no-coverage-search"

  /* Counts */
  counts = 'star'
  featureCounts = false 
  HTseqCounts = false

  // HTSeq
  htseqOpts = "-f bam -t exon -r pos"
  
  // FeatureCounts
  featurecountsOpts = "-t exon -C -p"

  // RSeQC
  stranded = 'auto'
  nCheck = 200000
  
  // samtools
  sortMaxMemory = "900M"

  // gene_body_coverage
  subsampFilesizeThreshold = 1000000 // Don't subsample BAMs for RSeQC gene_body_coverage if less than this

  // markdup
  markdupJavaOptions = '"-Xms4000m -Xmx7g"' //Established values for markDuplicate memory consumption, see https://github.com/SciLifeLab/Sarek/pull/689 for details

  // references
  splicesites = false
  saveReference = false
  saveAlignedIntermediates = false
 
  skipQC = false
  skipRrna = false
  skipFastqc = false
  skipRseqc = false
  skipReaddist = false
  skipSaturation = false
  skipDupradar = false
  skipExpan = false
  skipMultiQC = false
  skipGenebodyCoverage = false
 }


/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
}

// Load annotation
includeConfig 'conf/genomes.config'  

/*
 * Custom options for different genomes
 */

params{
  genomes{
    // STAR recommanded option for Human
    'hg19'{
      starOpts = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
    }
    'hg38'{
      starOpts = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
    }

    // STAR option for Saccharomyces Cerevisiae
    'S288c'{
      starOpts = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
    }
    'sacCer2'{
       starOpts = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
    }
    'sacCer3'{
       starOpts = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
    }
    // STAR option for Naumovozyma Castellii
    'CBS_4309_ASM23734v1'{
       starOpts = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
    }
  }
}
