/***********************************
 * Default for environment options *
 ***********************************/

params {

  // cluster
  queue = null

  // default path
  outDir = './results'
  summaryDir = "${params.outDir}/summary"

  // genome annotations
  genomeAnnotationPath = ""

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  singularityImagePath = ""
  singularityRunOptions = ""

  // Docker
  dockerRunOptions = ""

  // Global path used for path or multipath profiles
  globalPath = ""
  multiPath = ""
}


