conda {
  cacheDir = "${params.condaCacheDir}"
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export PYTHONNOUSERSITE=1"

  withLabel:bowtie2 { conda = "${projectDir}/environment.yml" }
  withLabel:bowtie { conda = "${projectDir}/environment.yml" }
  withLabel:deeptools { conda = "${projectDir}/environment.yml" }
  withLabel:dupradar { conda = "${projectDir}/environment.yml" }
  withLabel:fastqc { conda = "${projectDir}/environment.yml" }
  withLabel:featurecounts { conda = "${projectDir}/environment.yml" }
  withLabel:hisat2 { conda = "${projectDir}/environment.yml" }
  withLabel:salmon { conda = "${projectDir}/environment.yml" }
  withLabel:htseq { conda = "${projectDir}/environment.yml" }
  withLabel:identito { conda = "${projectDir}/environment.yml" }
  withLabel:multiqc { conda = "${projectDir}/environment.yml" }
  withLabel:picard { conda = "${projectDir}/environment.yml" }
  withLabel:preseq { conda = "${projectDir}/environment.yml" }
  withLabel:python { conda = "${projectDir}/environment.yml" }
  withLabel:qualimap { conda = "${projectDir}/environment.yml" }
  withLabel:r { conda = "${projectDir}/environment.yml" }
  withLabel:rseqc { conda = "${projectDir}/environment.yml" }
  withLabel:samtools { conda = "${projectDir}/environment.yml" }
  withLabel:star { conda = "${projectDir}/environment.yml" }
  withLabel:stringtie { conda = "${projectDir}/environment.yml" }
  withLabel:scallop { conda = "${projectDir}/environment.yml" }
  withLabel:gffcompare { conda = "${projectDir}/environment.yml" }
  withLabel:unix { conda = "${projectDir}/environment.yml" }
}
