conda {
  cacheDir = "${params.condaCacheDir}"
}

/****************************************************************
 * Add here the list of labels using a single conda environment *
 ****************************************************************/

process {
  withLabel:python { conda = "${baseDir}/environment.yml" }
  withLabel:multiqc { conda = "${baseDir}/environment.yml" }
}

