conda {
  cacheDir = "${params.condaCacheDir}"
}

/****************************************************************
 * Add here the list of labels using a single conda environment *
 ****************************************************************/

process {
  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1"

  withLabel:python { conda = "${baseDir}/environment.yml" }
  withLabel:fastqc { conda = "${baseDir}/environment.yml" }
  withLabel:bowtie { conda = "${baseDir}/environment.yml" }
  withLabel:bowtie2 { conda = "${baseDir}/environment.yml" } 
  withLabel:star { conda = "${baseDir}/environment.yml" }
  withLabel:hisat2 { conda = "${baseDir}/environment.yml" }
  withLabel:samtools { conda = "${baseDir}/environment.yml" } 
  withLabel:rseqc { conda = "${baseDir}/environment.yml" }
  withLabel:picard { conda = "${baseDir}/environment.yml" } 
  withLabel:preseq { conda = "${baseDir}/environment.yml" } 
  withLabel:r { conda = "${baseDir}/environment.yml" } 
  withLabel:dupradar { conda = "${baseDir}/environment.yml" }
  withLabel:featurecounts { conda = "${baseDir}/environment.yml" } 
  withLabel:htseq { conda = "${baseDir}/environment.yml" } 
  withLabel:unix { conda = "${baseDir}/environment.yml" }
  withLabel:identito { conda = "${baseDir}/environment.yml" }
  withLabel:multiqc { conda = "${baseDir}/environment.yml" } 
}

