/*
 * Institut Curie configuration profile
 * Edit your own configurations to use the pipeline on your infrastructure
 */

/*
 * -------------------------------------------------
 * Define Singularity path for `-profile singularity`
 * -------------------------------------------------
 */

params {
   containerPath = "/data/modules/pipelines/rnaseq/${env}/singularity"
}

/*
 * -----------------------------------------------
 * Define your annotation folder
 * -----------------------------------------------
 */

params.igenomes_base = "/data/annotations/pipelines/"

