/*
 * Institut Curie configuration profile
 * Edit your own configurations to use the pipeline on your infrastructure
 */

/*
 * -------------------------------------------------
 * Define Singularity path for `-profile singularity`
 * -------------------------------------------------
 */

params {
   container_version = '2.0'
   containerPath = "file:///data/u900pf-bioinfo/containers/commun/${env}/singularity/rnaseq-${params.container_version}/images"
}

/*
 * -----------------------------------------------
 * Define your annotation folder
 * -----------------------------------------------
 */

params.igenomes_base = "/data/annotations/pipelines/"

/*
 * -----------------------------------------------
 * Additional local profiles
 * ----------------------------------------------
 */

profiles {

  condaPath {
    singularity {
       enabled = false
    }

    process {
       beforeScript = "export PATH=/data/modules/pipelines/rnaseq/${env}/conda/envs/rnaseq-2.0/bin:$PATH"
    }
  }
}
