docker {
  enabled = true
  runOptions = "${params.geniac.containers?.dockerRunOptions}"
}

process {
  withLabel:bowtie2{ container = "bowtie2" }
  withLabel:bowtie{ container = "bowtie" }
  withLabel:deeptools{ container = "deeptools" }
  withLabel:dupradar{ container = "dupradar" }
  withLabel:fastqc{ container = "fastqc" }
  withLabel:featurecounts{ container = "featurecounts" }
  withLabel:gffcompare{ container = "gffcompare" }
  withLabel:hisat2{ container = "hisat2" }
  withLabel:htseq{ container = "htseq" }
  withLabel:identito{ container = "identito" }
  withLabel:multiqc{ container = "multiqc" }
  withLabel:onlyLinux{ container = "onlylinux" }
  withLabel:picard{ container = "picard" }
  withLabel:preseq{ container = "preseq" }
  withLabel:python{ container = "python" }
  withLabel:qualimap{ container = "qualimap" }
  withLabel:r{ container = "r" }
  withLabel:rseqc{ container = "rseqc" }
  withLabel:salmon{ container = "salmon" }
  withLabel:samtools{ container = "samtools" }
  withLabel:scallop{ container = "scallop" }
  withLabel:star{ container = "star" }
  withLabel:stringtie{ container = "stringtie" }
  withLabel:unix{ container = "unix" }
}
