docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

/**************************************************
 * Add here the list of labels with its container *
 **************************************************/

process {
  withLabel:python { container = "python" }
  withLabel:fastqc { container = "fastqc" }
  withLabel:bowtie { container = "bowtie" }
  withLabel:bowtie2 { container = "bowtie2" }
  withLabel:star { container = "star" }
  withLabel:hisat2 { container = "hisat2" }
  withLabel:samtools { container = "samtools" }
  withLabel:rseqc { container = "rseqc" }
  withLabel:picard { container = "picard" }
  withLabel:preseq { container = "preseq" }
  withLabel:r { container = "rnaseqr" }
  withLabel:dupradar { container = "dupradar" }
  withLabel:featurecounts { container = "featureCounts" }
  withLabel:htseq { container = "htseq" }
  withLabel:unix { container = "unix" }
  withLabel:multiqc { container = "multiqc" }
}
