docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

/**************************************************
 * Add here the list of labels with its container *
 **************************************************/

process {
  withLabel:python { container = "python" }
  withLabel:multiqc { container = "multiqc" }
}

