params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {

    // Path to the tools (for path and multipath profiles)
    path = params.globalPath ?: "${baseDir}/../path"
      multiPath = params.globalPath ?: "${baseDir}/../multipath"

      tools {
        // Add your tools available in conda here, for example:
        multiqc = "${baseDir}/recipes/conda/multiqc.yml"
        python = "${baseDir}/recipes/conda/python.yml"
      }

    // options for singularity and docker containers
    containers {
      singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
