params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"
  tmpDir = params.tmpDir ?: '/local/scratch/'
  outDir = params.outDir ?: './'
  //readsDir = params.reads ? params.reads.toString().substring(0, params.reads.lastIndexOf("/")) : ''

  geniac {

    // Installation paths
    path = params.globalPath ?: "${projectDir}/../path/bin"
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"
    
    tools {
      python = "${projectDir}/recipes/conda/python.yml"
      fastqc = "${projectDir}/recipes/conda/fastqc.yml"
      bowtie = "${projectDir}/recipes/conda/bowtie.yml"
      bowtie2 = "${projectDir}/recipes/conda/bowtie2.yml"
      star = "${projectDir}/recipes/conda/star.yml"
      hisat2 = "${projectDir}/recipes/conda/hisat2.yml"
      salmon = "${projectDir}/recipes/conda/salmon.yml"
      samtools = "${projectDir}/recipes/conda/samtools.yml"
      identito = "${projectDir}/recipes/conda/identito.yml"
      rseqc = "${projectDir}/recipes/conda/rseqc.yml"
      qualimap = "${projectDir}/recipes/conda/qualimap.yml"
      picard = "${projectDir}/recipes/conda/picard.yml"
      preseq = "${projectDir}/recipes/conda/preseq.yml"
      r = "${projectDir}/recipes/conda/r.yml"
      dupradar = "${projectDir}/recipes/conda/dupradar.yml"
      featurecounts = "${projectDir}/recipes/conda/featurecounts.yml"
      htseq = "${projectDir}/recipes/conda/htseq.yml"
      deeptools = "${projectDir}/recipes/conda/deeptools.yml"
      stringtie = "${projectDir}/recipes/conda/stringtie.yml"
      scallop = "${projectDir}/recipes/conda/scallop.yml"
      gffcompare = "${projectDir}/recipes/conda/gffcompare.yml"
      trimgalore = "${projectDir}/recipes/conda/trimgalore.yml"
      xengsort = "${projectDir}/recipes/conda/xengsort.yml"
      unix = "${projectDir}/recipes/conda/unix.yml"
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = params.containers.specificBinds ? "-B /var/tmp:/tmp -B \"${params.tmpDir}\" -B \"\$TMPDIR\" -B \"${projectDir}\" -B \"${params.genomeAnnotationPath}\" -B \"${params.outDir}\" --containall --bind ${params.containers.specificBinds}" : "-B /var/tmp:/tmp -B \"${params.tmpDir}\" -B \"\$TMPDIR\" -B \"${projectDir}\" -B \"${params.genomeAnnotationPath}\" -B \"${params.outDir}\" --containall"
      dockerRunOptions = "-v \"\$PWD\":/tmp"

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      //yum { }
      //git { }
    }
  }
}
