params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {

    // Installation paths
    path = params.globalPath ?: "${baseDir}/../path"
    multiPath = params.globalPath ?: "${baseDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"
    
    tools {
      python = "${baseDir}/recipes/conda/python.yml"
      fastqc = "${baseDir}/recipes/conda/fastqc.yml"
      bowtie = "${baseDir}/recipes/conda/bowtie.yml"
      bowtie2 = "${baseDir}/recipes/conda/bowtie2.yml"
      star = "${baseDir}/recipes/conda/star.yml"
      hisat2 = "${baseDir}/recipes/conda/hisat2.yml"
      samtools = "${baseDir}/recipes/conda/samtools.yml"
      identito = "${baseDir}/recipes/conda/identito.yml"
      rseqc = "${baseDir}/recipes/conda/rseqc.yml"
      qualimap = "${baseDir}/recipes/conda/qualimap.yml"
      picard = "${baseDir}/recipes/conda/picard.yml"
      preseq = "${baseDir}/recipes/conda/preseq.yml"
      r = "${baseDir}/recipes/conda/r.yml"
      dupradar = "${baseDir}/recipes/conda/dupradar.yml"
      featureCounts = "${baseDir}/recipes/conda/featurecounts.yml"
      htseq = "${baseDir}/recipes/conda/htseq.yml"
      deeptools = "${baseDir}/recipes/conda/deeptools.yml"
      unix = "${baseDir}/recipes/conda/unix.yml"
      multiqc = "${baseDir}/recipes/conda/multiqc.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      //yum {
        // example of dependency:
        //fastqc = 'fontconfig dejavu*'
      //}

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
