/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    'hg19' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa.fai"
      star               = "${params.genomeAnnotationPath}/Human/hg19/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg19/indexes/bowtie2/hg19"	
      hisat2             = "${params.genomeAnnotationPath}/Human/hg19/indexes/hisat2/hg19"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/rRNA_human_complete"
      bed12              = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.pc_transcripts.fa"
      gencode            = true
      polym              = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/44polyms.bed"
    }

    'hg19_base' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg19_base/genome/hg19_base.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19_base.fa.fai"
      star               = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/bowtie2/hg19_base"	
      hisat2             = "${params.genomeAnnotationPath}/Human/hg19/indexes/hisat2/hg19_base"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/rRNA_human_complete"
      bed12              = "${params.genomeAnnotationPath}/Human/hg19_base/gtf/gencode.v19.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg19_base/gtf/gencode.v19.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg19_base/gtf/gencode.v19.pc_transcripts.fa" 
      gencode            = true
      polym              = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/44polyms.bed"
    }

    'hg38' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa.fai"
      star               = "${params.genomeAnnotationPath}/Human/hg38/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg38/indexes/bowtie2/hg38"	
      hisat2             = "${params.genomeAnnotationPath}/Human/hg38/indexes/hisat2/hg38"
      salmon             = "${params.genomeAnnotationPath}/Human/hg38/indexes/salmon_gencode.v34"
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/rRNA_human_complete"
      bed12              = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.transcripts.fa.gz"
      polym              = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/44polyms_hg38_lifted.bed" 
    }

    'hg38_base' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg38_base/genome/hg38_base.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38_base.fa.fai"
      star               = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/bowtie2/hg38_base"
      hisat2             = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/hisat2/hg38_base"
      salmon             = "${params.genomeAnnotationPath}/Human/hg38/indexes/salmon_gencode.v34"
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/rRNA_human_complete"
      bed12              = "${params.genomeAnnotationPath}/Human/hg38_base/gtf/gencode.v34.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg38_base/gtf/gencode.v34.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.transcripts.fa.gz"
      gencode            = true
      polym              = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/44polyms_hg38_lifted.bed"
    }

    'mm10' {
      fasta              = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa.fai"
      star               = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/bowtie2/mm10"
      hisat2             = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/hisat2/mm10"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Mouse/rRNA/rRNA_mouse_complete"
      bed12              = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.transcripts.fa.gz"
      gencode            = true
      polym              = ""
    }

    'mm9' {
      fasta              = "${params.genomeAnnotationPath}/Mouse/mm9/genome/mm9.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Mouse/mm9/genome/mm9.fa.fai"
      star               = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/bowtie2/mm9"
      hisat2             = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/hisat2/mm9"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Mouse/rRNA/rRNA_mouse_complete"
      bed12              = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.pc_transcripts.fa.gz"
      gencode            = true
      polym              = ""
    }

    'danRer11' {
      fasta              = "${params.genomeAnnotationPath}/Zebrafish/danRer11/genome/danRer11.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Zebrafish/danRer11/genome/danRer11.fa.fai"
      star               = "${params.genomeAnnotationPath}/Zebrafish/danRer11/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Zebrafish/danRer11/indexes/bowtie2/danRer11"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Zebrafish/danRer11/gtf/danRer11.refGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Zebrafish/danRer11/gtf/danRer11.refGene.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'danRer10' {
      fasta              = "${params.genomeAnnotationPath}/Zebrafish/danRer10/genome/danRer10.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Zebrafish/danRer10/genome/danRer10.fa.fai"
      star               = "${params.genomeAnnotationPath}/Zebrafish/danRer10/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Zebrafish/danRer10/indexes/bowtie2/danRer10"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Zebrafish/danRer10/gtf/danRer10.refGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Zebrafish/danRer10/gtf/danRer10.refGene.gtf"
      transcriptsFasta   = ""
      gencode            = false  
      polym              = ""
    }

    'dmelr6.21' {
      fasta              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/genome/dmel-all-chromosome-r6.21.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/genome/dmel-all-chromosome-r6.21.fasta.fai"
      star               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/indexes/STAR__2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/indexes/bowtie2/dmel-all-chromosome-r6.21"
      hisat2             = ""
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/rRNA/dmel-all-rRNA-r6.21"
      bed12              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/gtf/dmel-all-r6.21.bed12"
      gtf                = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/gtf/dmel-all-r6.21.gtf"
      transcriptsFasta   = ""      
      gencode            = false
      polym              = "" 
    }

    'dmelr6.22' {
      fasta              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/genome/dmelr6.22.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/genome/dmelr6.22.fa.fai"
      star               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/bowtie2/dmelr6.22"
      hisat2             = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/hisat2/dmelr6.22"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/rRNA/dmel-all-rRNA-r6.22"
      bed12              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/gtf/dmel-all-r6.22.bed12"
      gtf                = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/gtf/dmel-all-r6.22.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'dmelr6.28' {
      fasta              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa.fai"
      star               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/bowtie2/Drosophila_melanogaster.BDGP6.28.dna.toplevel"
      hisat2             = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/hisat2/Drosophila_melanogaster.BDGP6.28.dna.toplevel"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/rRNA/dmel-all-rRNA-r6.28"
      bed12              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/gtf/Drosophila_melanogaster.BDGP6.28.101.bed12"
      gtf                = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/gtf/Drosophila_melanogaster.BDGP6.28.101.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'TAIR10' {
      fasta              = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/genome/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa"
      star               = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/indexes/bowtie2/TAIR10"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/gtf/Arabidopsis_thaliana.TAIR10.48.bed12"
      gtf                = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/gtf/Arabidopsis_thaliana.TAIR10.48.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'sacCer3' {
      fasta              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.fa"
      star               = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/bowtie2/sacCer3"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/gtf/sacCer3.ensGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/gtf/sacCer3.ensGene.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'sacCer2' {
      fasta              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/genome/sacCer2.fa"
      star               = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/indexes/bowtie2/sacCer2"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer2.ensGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer2.ensGene.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'S288c' {
      fasta              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
      star               = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/bowtie2/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93.bed12"
      gtf                = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'Erdman' {
      fasta              = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/genome/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.dna.toplevel.fa"
      star               = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/indexes/bowtie2/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/gtf/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.41.bed12"
      gtf                = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/gtf/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.41.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'ecoli_LF82' {
      fasta              = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/genome/Escherichia_coli_lf82.ASM28449v1.dna.toplevel.fa"
      star               = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/indexes/bowtie2/Escherichia_coli_lf82.ASM28449v1.dna.toplevel"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/gtf/Escherichia_coli_lf82.ASM28449v1.47.bed12"
      gtf                = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/gtf/Escherichia_coli_lf82.ASM28449v1.47.gtf"
      transcriptsFasta   = ""
      gencode            = false  
      polym              = ""
    }

    'bmoriV3' {
      fasta              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/genome/Bmori_v3.fasta"
      star               = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/indexes/bowtie2/Bmori_v3"
      hisat2             = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/indexes/hisat2/Bmori_v3"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/gtf/Bmori_v3_base.bed12"
      gtf                = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/gtf/Bmori_v3_base.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'bmoriV3_base' {
      fasta              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/Bmori_v3_base.fasta"
      star               = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/indexes/bowtie2/Bmori_v3_base"
      hisat2             = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/indexes/hisat2/Bmori_v3_base"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/gtf/Bmori_v3.bed12"
      gtf                = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/gtf/Bmori_v3.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'bmoriV4_base' {
      fasta              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV_base/genome/Bmori_v4_base.fasta"
      star               = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/indexes/bowtie2/Bmori_v4_base"
      hisat2             = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/indexes/hisat2/Bmori_v4_base"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/gtf/Bmori_v4_2021_notes.bed12"
      gtf                = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/gtf/Bmori_v4_2021_notes.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'NaumovozymaCastellii_CBS4309' {
      fasta              = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/genome/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.dna.toplevel.fa"
      star               = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/indexes/bowtie2/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.dna.toplevel"
      hisat2             = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/indexes/hisat2/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.dna.toplevel"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/gtf/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.45.bed12"
      gtf                = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/gtf/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.45.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'Pfalciparum3D7' {
      fasta              = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/genome/PlasmoDB-46_Pfalciparum3D7_Genome.fasta"
      star               = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/indexes/bowtie2/PlasmoDB-46_Pfalciparum3D7_Genome"
      hisat2             = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/indexes/hisat2/PlasmoDB-46_Pfalciparum3D7_Genome"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/gtf/PlasmoDB-46_Pfalciparum3D7.bed12"
      gtf                = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/gtf/PlasmoDB-46_Pfalciparum3D7.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'Acyr_2.0' {
      fasta              = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/genome/Acyrthosiphon_pisum.Acyr_2.0.dna.toplevel.fa"
      star               = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/indexes/STAR_2.7.6a/"
      bowtie2            = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/indexes/bowtie2/Acyrthosiphon_pisum.Acyr_2.0.dna.toplevel"
      hisat2             = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/indexes/hisat2/Acyrthosiphon_pisum.Acyr_2.0.dna.toplevel"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/gtf/Acyrthosiphon_pisum.Acyr_2.0.47.bed12"
      gtf                = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/gtf/Acyrthosiphon_pisum.Acyr_2.0.47.gtf"
      transcriptsFasta   = "" 
      gencode            = false
      polym              = ""
    }

    'RhopalosiphumPadi_v2' {
      fasta              = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/genome/Rhopalosiphum_padi_v2.fa"
      star               = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/indexes/STAR_2.7.6a"
      bowtie2            = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/indexes/bowtie2/Rhopalosiphum_padi_v2"
      hisat2             = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/indexes/hisat2/Rhopalosiphum_padi_v2"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/gtf/Rpadi_v2.bed12"
      gtf                = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/gtf/Rpadi_v2.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

   'WBcel235' {
      star               = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/indexes/STAR_2.7.6a"
      bowtie2            = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/indexes/bowtie2/Caenorhabditis_elegans.WBcel235.dna.toplevel"
      hisat2             = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/indexes/hisat2/Caenorhabditis_elegans.WBcel235.dna.toplevel"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/gtf/Caenorhabditis_elegans.WBcel235.103.bed12"
      gtf                = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/gtf/Caenorhabditis_elegans.WBcel235.103.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

   'Xenla9.2' {
      star               = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis9.2/indexes/STAR"
      bowtie2            = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis9.2/indexes/bowtie2/Xenopus_laevis_9.2.2"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = ""
      gtf                = ""
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

  }
}
