/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    'pdx' {
       xengsort          = "/data/annotations/pipelines/PDX/indexes/xengsort/index_mm10_hg38.h5"
    }

    'hg19' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg19/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Human/hg19/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
      hisat2             = "${params.genomeAnnotationPath}/Human/hg19/indexes/hisat2/"
      salmon             = "${params.genomeAnnotationPath}/Human/hg19/indexes/salmon_gencode.v19.pc/"
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.pc_transcripts.fa"
      gencode            = true
      polym              = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/44polyms.bed"
    }

    'hg19_base' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg19_base/genome/hg19_base.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg19_base/genome/hg19_base.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
      hisat2             = "${params.genomeAnnotationPath}/Human/hg19/indexes/hisat2/"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Human/hg19_base/gtf/gencode.v19.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg19_base/gtf/gencode.v19.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg19_base/gtf/gencode.v19.pc_transcripts.fa" 
      gencode            = true
      polym              = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/44polyms.bed"
    }

    'hg38' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg38/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Human/hg38/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
      hisat2             = "${params.genomeAnnotationPath}/Human/hg38/indexes/hisat2/"
      salmon             = "${params.genomeAnnotationPath}/Human/hg38/indexes/salmon_gencode.v34/"
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.transcripts.fa"
      gencode            = true
      polym              = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/44polyms_hg38_lifted.bed" 
    }

    'hg38_base' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg38_base/genome/hg38_base.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg38_base/genome/hg38_base.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
      hisat2             = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/hisat2/"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Human/hg38_base/gtf/gencode.v34.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Human/hg38_base/gtf/gencode.v34.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg38_base/gtf/gencode.v34.transcripts.fa"
      gencode            = true
      polym              = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/44polyms_hg38_lifted.bed"
    }

   't2tchm13' {
      fasta              = "${params.genomeAnnotationPath}/Human/t2tchm13/genome/chm13.draft_v1.1.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Human/t2tchm13/genome/chm13.draft_v1.1.fasta.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Human/t2tchm13/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Human/t2tchm13/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
      hisat2             = ""
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Human/rRNA/"
      bed12              = ""
      gtf                = ""
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'mm39' {
      fasta              = "${params.genomeAnnotationPath}/Mouse/mm39/genome/mm39.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Mouse/mm39/genome/mm39.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Mouse/mm39/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Mouse/mm39/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Mouse/mm39/indexes/hisat2/"
      salmon             = "${params.genomeAnnotationPath}/Mouse/mm39/indexes/salmon_gencode.vM27"
      rrna               = "${params.genomeAnnotationPath}/Mouse/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Mouse/mm39/gtf/gencode.vM27.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Mouse/mm39/gtf/gencode.vM27.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Mouse/mm39/gtf/gencode.vM27.transcripts.fa"
      gencode            = true
      polym              = ""
    }

    'mm10' {
      fasta              = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/hisat2/"
      salmon             = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/salmon_gencode.vM22"
      rrna               = "${params.genomeAnnotationPath}/Mouse/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.transcripts.fa.gz"
      gencode            = true
      polym              = ""
    }

    'mm9' {
      fasta              = "${params.genomeAnnotationPath}/Mouse/mm9/genome/mm9.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Mouse/mm9/genome/mm9.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/hisat2/"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Mouse/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation_proteinCoding.bed12"
      gtf                = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.pc_transcripts.fa.gz"
      gencode            = true
      polym              = ""
    }

    'danRer11' {
      fasta              = "${params.genomeAnnotationPath}/Zebrafish/danRer11/genome/danRer11.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Zebrafish/danRer11/genome/danRer11.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Zebrafish/danRer11/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Zebrafish/danRer11/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Zebrafish/danRer11/gtf/danRer11.refGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Zebrafish/danRer11/gtf/danRer11.refGene.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'danRer10' {
      fasta              = "${params.genomeAnnotationPath}/Zebrafish/danRer10/genome/danRer10.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Zebrafish/danRer10/genome/danRer10.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Zebrafish/danRer10/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Zebrafish/danRer10/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Zebrafish/danRer10/gtf/danRer10.refGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Zebrafish/danRer10/gtf/danRer10.refGene.gtf"
      transcriptsFasta   = ""
      gencode            = false  
      polym              = ""
    }

    'dmelr6.21' {
      fasta              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/genome/dmel-all-chromosome-r6.21.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/genome/dmel-all-chromosome-r6.21.fasta.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/gtf/dmel-all-r6.21.bed12"
      gtf                = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/gtf/dmel-all-r6.21.gtf"
      transcriptsFasta   = ""      
      gencode            = false
      polym              = "" 
    }

    'dmelr6.22' {
      fasta              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/genome/dmelr6.22.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/genome/dmelr6.22.fasta.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/hisat2/"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/gtf/dmel-all-r6.22.bed12"
      gtf                = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/gtf/dmel-all-r6.22.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'dmelr6.28' {
      fasta              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/hisat2/"
      salmon             = ""
      rrna               = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/rRNA/"
      bed12              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/gtf/Drosophila_melanogaster.BDGP6.28.101.bed12"
      gtf                = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/gtf/Drosophila_melanogaster.BDGP6.28.101.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'TAIR10' {
      fasta              = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/genome/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/genome/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/gtf/Arabidopsis_thaliana.TAIR10.48.bed12"
      gtf                = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/gtf/Arabidopsis_thaliana.TAIR10.48.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'sacCer3' {
      fasta              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/gtf/sacCer3.ensGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/gtf/sacCer3.ensGene.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'sacCer2' {
      fasta              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/genome/sacCer2.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/genome/sacCer2.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer2.ensGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer2.ensGene.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'S288c' {
      fasta              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93.bed12"
      gtf                = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'Erdman-ASM35020v1' {
      fasta              = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/genome/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/genome/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/gtf/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.41.bed12"
      gtf                = "${params.genomeAnnotationPath}/Mycobacterium_tuberculosis/Erdman/gtf/Mycobacterium_tuberculosis_str_erdman_atcc_35801.ASM35020v1.41.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'LF82' {
      fasta              = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/genome/Escherichia_coli_lf82.ASM28449v1.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/genome/Escherichia_coli_lf82.ASM28449v1.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/gtf/Escherichia_coli_lf82.ASM28449v1.47.bed12"
      gtf                = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/gtf/Escherichia_coli_lf82.ASM28449v1.47.gtf"
      transcriptsFasta   = ""
      gencode            = false  
      polym              = ""
    }

    'bmoriV3' {
      fasta              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/genome/Bmori_v3.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/genome/Bmori_v3.fasta.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/gtf/Bmori_v3_base.bed12"
      gtf                = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3/gtf/Bmori_v3_base.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'bmoriV3_base' {
      fasta              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/Bmori_v3_base.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/Bmori_v3_base.fasta.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/gtf/Bmori_v3.bed12"
      gtf                = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/gtf/Bmori_v3.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'bmoriV4_base' {
      fasta              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/genome/Bmori_v4_base.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/genome/Bmori_v4_base.fasta.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/gtf/Bmori_v4_2021_notes.bed12"
      gtf                = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/gtf/Bmori_v4_2021_notes.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'NaumovozymaCastellii_CBS4309' {
      fasta              = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/genome/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/genome/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/indexes/STAR_2.7.6a/"
      starOpts           = "--outFilterType BySJout --outFilterMultimapNmax 1 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --alignIntronMin 10 --alignIntronMax 5000 --alignMatesGapMax 2000 --outSAMattributes All --limitOutSJcollapsed 2000000"
      hisat2             = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/gtf/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.45.bed12"
      gtf                = "${params.genomeAnnotationPath}/Naumovozyma_castellii/CBS_4309_ASM23734v1/gtf/Naumovozyma_castellii_cbs_4309_gca_000237345.ASM23734v1.45.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'Pfalciparum3D7' {
      fasta              = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/genome/PlasmoDB-46_Pfalciparum3D7_Genome.fasta"
      fastaFai           = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/genome/PlasmoDB-46_Pfalciparum3D7_Genome.fasta.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/gtf/PlasmoDB-46_Pfalciparum3D7.bed12"
      gtf                = "${params.genomeAnnotationPath}/Plasmodium_falciparum/Pfalciparum3D7/gtf/PlasmoDB-46_Pfalciparum3D7.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'Acyr2.0' {
      fasta              = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/genome/Acyrthosiphon_pisum.Acyr_2.0.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/genome/Acyrthosiphon_pisum.Acyr_2.0.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/indexes/STAR_2.7.6a/"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/gtf/Acyrthosiphon_pisum.Acyr_2.0.47.bed12"
      gtf                = "${params.genomeAnnotationPath}/Acyrthosiphon_pisum/Acyr2.0.47/gtf/Acyrthosiphon_pisum.Acyr_2.0.47.gtf"
      transcriptsFasta   = "" 
      gencode            = false
      polym              = ""
    }

    'RPadi2.0' {
      fasta              = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/genome/Rhopalosiphum_padi_v2.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/genome/Rhopalosiphum_padi_v2.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/indexes/STAR_2.7.6a"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/gtf/Rpadi_v2.bed12"
      gtf                = "${params.genomeAnnotationPath}/Rhopalosiphum_padi/v2/gtf/Rpadi_v2.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

   'WBcel235' {
      fasta              = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/genome/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/genome/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/indexes/STAR_2.7.6a"
      starOpts           = false
      hisat2             = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/indexes/hisat2/"
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/gtf/Caenorhabditis_elegans.WBcel235.103.bed12"
      gtf                = "${params.genomeAnnotationPath}/Caenorhabditis_elegans/WBcel235/gtf/Caenorhabditis_elegans.WBcel235.103.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

   'Xenla9.2' {
      fasta              = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis9.2/genome/Xenopus_laevis_9.2.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis9.2/genome/Xenopus_laevis_9.2.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis9.2/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis9.2/indexes/STAR_2.7.6a"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = ""
      gtf                = ""
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

   'Xenla10.1' {
      fasta              = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis10.1/genome/XENLA_10.1_genome.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis10.1/genome/XENLA_10.1_genome.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis10.1/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis10.1/indexes/STAR_2.7.6a"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis10.1/gtf/XENLA_10.1_GCF_XBmodels.bed12"
      gtf                = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis10.1/gtf/XENLA_10.1_GCF_XBmodels.gtf"
      transcriptsFasta   = "${params.genomeAnnotationPath}/Xenopus_laevis/Xlaevis10.1/gtf/XENLA_10.1_GCF.transcripts.fa"
      gencode            = false
      polym              = ""
    }

    'rheMac10' {
      fasta              = "${params.genomeAnnotationPath}/Macaca_mulatta/rheMac10/genome/rheMac10.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Macaca_mulatta/rheMac10/genome/rheMac10.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Macaca_mulatta/rheMac10/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Macaca_mulatta/rheMac10/indexes/STAR_2.7.6a"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Macaca_mulatta/rheMac10/gtf/rheMac10.ensGene.bed12"
      gtf                = "${params.genomeAnnotationPath}/Macaca_mulatta/rheMac10/gtf/rheMac10.ensGene.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }

    'Rnor6.0' {
      fasta              = "${params.genomeAnnotationPath}/Rattus_norvegicus/Rnor6.0/genome/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa"
      fastaFai           = "${params.genomeAnnotationPath}/Rattus_norvegicus/Rnor6.0/genome/Rattus_norvegicus.Rnor_6.0.dna.toplevel.fa.fai"
      bowtie2            = "${params.genomeAnnotationPath}/Rattus_norvegicus/Rnor6.0/indexes/bowtie2/"
      star               = "${params.genomeAnnotationPath}/Rattus_norvegicus/Rnor6.0/indexes/STAR_2.7.6a"
      starOpts           = false
      hisat2             = ""
      salmon             = ""
      rrna               = ""
      bed12              = "${params.genomeAnnotationPath}/Rattus_norvegicus/Rnor6.0/gtf/Rattus_norvegicus.Rnor_6.0.104.bed12"
      gtf                = "${params.genomeAnnotationPath}/Rattus_norvegicus/Rnor6.0/gtf/Rattus_norvegicus.Rnor_6.0.104.gtf"
      transcriptsFasta   = ""
      gencode            = false
      polym              = ""
    }
  }
}
