conda {
  cacheDir = "${params.condaCacheDir}"
}

/**********************************************
 * Add here the list of labels with its conda *
 **********************************************/

process {
  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1"

  withLabel:python { conda = "${params.geniac.tools.python}" }
  withLabel:fastqc { conda = "${params.geniac.tools.fastqc}" }
  withLabel:bowtie { conda = "${params.geniac.tools.bowtie}" }
  withLabel:bowtie2 { conda = "${params.geniac.tools.bowtie2}" }
  withLabel:star { conda = "${params.geniac.tools.star}" }
  withLabel:hisat2 { conda = "${params.geniac.tools.hisat2}" }
  withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
  withLabel:identito { conda = "${params.geniac.tools.identito}" 
  withLabel:rseqc { conda = "${params.geniac.tools.rseqc}" }
  withLabel:picard { conda = "${params.geniac.tools.picard}" }
  withLabel:preseq { conda = "${params.geniac.tools.preseq}" }
  withLabel:r { conda = "${params.geniac.tools.r}" }
  withLabel:dupradar { conda = "${params.geniac.tools.dupradar}" }
  withLabel:featureCounts { conda = "${params.geniac.tools.featureCounts}" }
  withLabel:htseq { conda = "${params.geniac.tools.htseq}" }
  withLabel:deeptools { conda = "${params.geniac.tools.deeptools}" } 
  withLabel:unix { conda = "${params.geniac.tools.unix}" }
  withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
}

