conda {
  cacheDir = "${params.condaCacheDir}"
}

/**********************************************
 * Add here the list of labels with its conda *
 **********************************************/
process {
  withLabel:python { conda = "${baseDir}/recipes/conda/python.yml" }
  withLabel:multiqc { conda = "${baseDir}/recipes/conda/multiqc.yml" }
}

