def checkProfileMultipath(path){
  if (new File(path).exists()){
    File directory = new File(path)
    def contents = []
    directory.eachFileRecurse (groovy.io.FileType.FILES) { file -> contents << file }
    if (!path?.trim() || contents == null || contents.size() == 0){
      println "   ### ERROR ###   The option '-profile multipath' requires the configuration of each tool path. See `--globalPath` for advanced usage."
      System.exit(-1)
    }
  }else{
    println "   ### ERROR ###   The option '-profile multipath' requires the configuration of each tool path. See `--globalPath` for advanced usage."
    System.exit(-1)
  }
}

singularity {
  enabled = false
}

docker {
  enabled = false
}

process {
  checkProfileMultipath("${params.geniac.multiPath}")
  withLabel:bowtie2 { beforeScript = "export PATH=${params.geniac.multiPath}/bowtie2/bin:$PATH" }
  withLabel:bowtie { beforeScript = "export PATH=${params.geniac.multiPath}/bowtie/bin:$PATH" }
  withLabel:deeptools { beforeScript = "export PATH=${params.geniac.multiPath}/deeptools/bin:$PATH" }
  withLabel:dupradar { beforeScript = "export PATH=${params.geniac.multiPath}/dupradar/bin:$PATH" }
  withLabel:fastqc { beforeScript = "export PATH=${params.geniac.multiPath}/fastqc/bin:$PATH" }
  withLabel:featurecounts { beforeScript = "export PATH=${params.geniac.multiPath}/featurecounts/bin:$PATH" }
  withLabel:hisat2 { beforeScript = "export PATH=${params.geniac.multiPath}/hisat2/bin:$PATH" }
  withLabel:salmon { beforeScript = "export PATH=${params.geniac.multiPath}/salmon/bin:$PATH" } 
  withLabel:htseq { beforeScript = "export PATH=${params.geniac.multiPath}/htseq/bin:$PATH" }
  withLabel:identito { beforeScript = "export PATH=${params.geniac.multiPath}/identito/bin:$PATH" }
  withLabel:multiqc { beforeScript = "export PATH=${params.geniac.multiPath}/multiqc/bin:$PATH" }
  withLabel:picard { beforeScript = "export PATH=${params.geniac.multiPath}/picard/bin:$PATH" }
  withLabel:preseq { beforeScript = "export PATH=${params.geniac.multiPath}/preseq/bin:$PATH" }
  withLabel:python { beforeScript = "export PATH=${params.geniac.multiPath}/python/bin:$PATH" }
  withLabel:qualimap { beforeScript = "export PATH=${params.geniac.multiPath}/qualimap/bin:$PATH" }
  withLabel:r { beforeScript = "export PATH=${params.geniac.multiPath}/r/bin:$PATH" }
  withLabel:rseqc { beforeScript = "export PATH=${params.geniac.multiPath}/rseqc/bin:$PATH" }
  withLabel:samtools { beforeScript = "export PATH=${params.geniac.multiPath}/samtools/bin:$PATH" }
  withLabel:star { beforeScript = "export PATH=${params.geniac.multiPath}/star/bin:$PATH" }
  withLabel:unix { beforeScript = "export PATH=${params.geniac.multiPath}/unix/bin:$PATH" }
}
