conda {
  cacheDir = "${params.condaCacheDir}"
}

/**********************************************
 * Add here the list of labels with its conda *
 **********************************************/

process {
  withLabel:python { conda = "${baseDir}/recipes/conda/python.yml" }
  withLabel:fastqc { conda = "${baseDir}/recipes/conda/fastqc.yml" }
  withLabel:bowtie { conda = "${baseDir}/recipes/conda/bowtie.yml" }
  withLabel:bowtie2 { conda = "${baseDir}/recipes/conda/bowtie2.yml" } 
  withLabel:star { conda = "${baseDir}/recipes/conda/star.yml" }
  withLabel:hisat2 { conda = "${baseDir}/recipes/conda/hisat2.yml" }
  withLabel:samtools { conda = "${baseDir}/recipes/conda/samtools.yml" } 
  withLabel:rseqc { conda = "${baseDir}/recipes/conda/rseqc.yml" }
  withLabel:picard { conda = "${baseDir}/recipes/conda/picard.yml" } 
  withLabel:preseq { conda = "${baseDir}/recipes/conda/preseq.yml" } 
  withLabel:r { conda = "${baseDir}/recipes/conda/r.yml" } 
  withLabel:dupradar { conda = "${baseDir}/recipes/conda/dupradar.yml" }
  withLabel:featureCounts { conda = "${baseDir}/recipes/conda/featurecounts.yml" } 
  withLabel:htseq { conda = "${baseDir}/recipes/conda/htseq.yml" } 
  withLabel:unix { conda = "${baseDir}/recipes/conda/unix.yml" }
  withLabel:multiqc { conda = "${baseDir}/recipes/conda/multiqc.yml" } 
}

