def checkProfileSingularity(path){
  if (new File(path).exists()){
    File directory = new File(path)
    def contents = []
    directory.eachFileRecurse (groovy.io.FileType.FILES) { file -> contents << file }
    if (!path?.trim() || contents == null || contents.size() == 0){
      println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See `--singularityImagePath` for advanced usage."
      System.exit(-1)
    }
  }else{
    println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See `--singularityImagePath` for advanced usage."
    System.exit(-1)
  }
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "${params.geniac.containers.singularityRunOptions}"
}

process {
  checkProfileSingularity("${params.geniac.singularityImagePath}")
  withLabel:bowtie2 { container = "${params.geniac.singularityImagePath}/bowtie2.simg" }
  withLabel:bowtie { container = "${params.geniac.singularityImagePath}/bowtie.simg" }
  withLabel:deeptools { container = "${params.geniac.singularityImagePath}/deeptools.simg" }
  withLabel:dupradar { container = "${params.geniac.singularityImagePath}/dupradar.simg" }
  withLabel:fastqc { container = "${params.geniac.singularityImagePath}/fastqc.simg" }
  withLabel:featurecounts { container = "${params.geniac.singularityImagePath}/featurecounts.simg" }
  withLabel:hisat2 { container = "${params.geniac.singularityImagePath}/hisat2.simg" }
  withLabel:salmon { container = "${params.geniac.singularityImagePath}/salmon.simg" }
  withLabel:htseq { container = "${params.geniac.singularityImagePath}/htseq.simg" }
  withLabel:identito { container = "${params.geniac.singularityImagePath}/identito.simg" }
  withLabel:identito_polym { container = "${params.geniac.singularityImagePath}/identito_polym.simg" }
  withLabel:multiqc { container = "${params.geniac.singularityImagePath}/multiqc.simg" }
  withLabel:onlyLinux { container = "${params.geniac.singularityImagePath}/onlylinux.simg" }
  withLabel:picard { container = "${params.geniac.singularityImagePath}/picard.simg" }
  withLabel:preseq { container = "${params.geniac.singularityImagePath}/preseq.simg" }
  withLabel:python { container = "${params.geniac.singularityImagePath}/python.simg" }
  withLabel:qualimap { container = "${params.geniac.singularityImagePath}/qualimap.simg" }
  withLabel:r { container = "${params.geniac.singularityImagePath}/r.simg" }
  withLabel:rseqc { container = "${params.geniac.singularityImagePath}/rseqc.simg" }
  withLabel:samtools { container = "${params.geniac.singularityImagePath}/samtools.simg" }
  withLabel:star { container = "${params.geniac.singularityImagePath}/star.simg" }
  withLabel:unix { container = "${params.geniac.singularityImagePath}/unix.simg" }
}
