/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'RNA-seq test data from Sindikubwabo et al. (2020)'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  maxCpus = 4
  maxMemory = 40.GB
  maxTime = 1.h

  // Input data  
  readPaths = [
     ['GSM4517603', ["$baseDir/test/data/GSM4517603-1M_R1.fastq.gz","$baseDir/test/data/GSM4517603-1M_R2.fastq.gz"]],
     ['GSM4517606', ["$baseDir/test/data/GSM4517606-1M_R1.fastq.gz","$baseDir/test/data/GSM4517606-1M_R2.fastq.gz"]]
  ]

  // Sample Plan - to use instead of readPaths
  //samplePlan = "$baseDir/test-op/sampleplan.csv"

  // Metadata
  metadata = "$baseDir/test/metadata.tsv"

  // Annotations
  genome =  'hg38'

  // Workflow
  //aligner = 'star' 
  //counts = 'star'
  //denovo = 'stringtie'
}
