singularity {
  enabled = false 
}

process {
  executor = 'pbs'
  queue = params.queue 
  beforeScript = 'export PATH=/bioinfo/pipelines/sandbox/dev/nfcore/rnaseq/modules/conda/envs/nf-core-rnaseq-1.2/bin:$PATH'
}

params {
  clusterOptions = false
  //singleEnd = true
  //rlocation = "/usr/local/lib/R/library"
  // Max resources requested by a normal node on milou. If you need more memory, run on a fat node using:
  //   --clusterOptions "-C mem512GB" --max_memory "512GB"
  //subsampFilesizeThreshold = 4000000
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = '/data/annotations/pipelines'
}
