singularity {
  enabled = false 
}

process {
  executor = 'pbs'
  queue = params.queue 
  beforeScript = 'export PATH=/bioinfo/pipelines/sandbox/dev/nfcore/rnaseq/modules/conda/envs/nf-core-rnaseq-1.2/bin:$PATH'
}

params {
  clusterOptions = false
  //singleEnd = true
  //rlocation = "/usr/local/lib/R/library"
  // Max resources requested by a normal node on milou. If you need more memory, run on a fat node using:
  //   --clusterOptions "-C mem512GB" --max_memory "512GB"
  //subsampFilesizeThreshold = 4000000
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  igenomes_base = '/data/annotations/pipelines'
  bowtie_opts = "-v 2 -a -m 1 --best --strata --nomaqround -y"
  star_opts = "--outFilterType BySJout --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
  htseq_opts = "-f bam -t exon -r pos" 
  featurecounts_opts = "-t exon -C -p"
  star_opts_counts = "--quantMode GeneCounts"
  tophat2_opts = "--b2-sensitive -g 1 -N 2 --no-coverage-search"
  // check library strandedness; default sampling is 200000 reads with mapq>30
  n_check = 200000
}

