/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {

  genomes {
    'HG19' {
      bed12   = "${params.igenomes_base}/Human/hg19/gtf/parseGTFAnnotation/gencode.v19.annotation_gene.bed"
      fasta   = "${params.igenomes_base}/Human/hg19/genome/hg19.fa"
      gtf     = "${params.igenomes_base}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      star    = "${params.igenomes_base}/Human/hg19/indexes/STAR/"
      bowtie2 = "${params.igenomes_base}/Human/hg19/indexes/bowtie2/hg19"
      rrna    = "${params.igenomes_base}/Human/rRNA/rRNA_human_complete"
    }

    'MM10' {
      bed12   = "${params.igenomes_base}/Mouse/mm10/gtf/parseGTFAnnotation/gencode.vM13.annotation_gene.bed"
      fasta   = "${params.igenomes_base}/Mouse/mm10/genome/mm10.fa"
      gtf     = "${params.igenomes_base}/Mouse/mm10/gtf/gencode.vM13.annotation.gtf"
      star    = "${params.igenomes_base}/Mouse/mm10/indexes/STAR/"
      bowtie2 = "${params.igenomes_base}/Mouse/mm10/indexes/bowtie2/mm10"
      rrna    = "${params.igenomes_base}/Mouse/rRNA/rRNA_mouse_complete"
    }


  }
}
