/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {

  genomes {
    'hg19' {
      star    = "${params.igenomes_base}/Human/hg19/indexes/STAR/"
      bowtie2 = "${params.igenomes_base}/Human/hg19/indexes/bowtie2/hg19"	
      hisat2  =	""
      rrna    = "${params.igenomes_base}/Human/rRNA/rRNA_human_complete"
      bed12   = "${params.igenomes_base}/Human/hg19/gtf/parseGTFAnnotation/gencode.v19.annotation_gene.bed"
      gtf     = "${params.igenomes_base}/Human/hg19/gtf/gencode.v19.annotation.gtf"
    }

    'mm10' {
      star    = "${params.igenomes_base}/Mouse/mm10/indexes/STAR/"
      bowtie2 = "${params.igenomes_base}/Mouse/mm10/indexes/bowtie2/mm10"
      hisat2  = ""
      rrna    = "${params.igenomes_base}/Mouse/rRNA/rRNA_mouse_complete"
      bed12   = "${params.igenomes_base}/Mouse/mm10/gtf/parseGTFAnnotation/gencode.vM13.annotation_gene.bed"
      gtf     = "${params.igenomes_base}/Mouse/mm10/gtf/gencode.vM13.annotation.gtf"
    }


  }
}
