/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/hic -profile test
 */

params {

  config_profile_name = 'RNA-seq test data from Gendrel et al. (2012)'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus = 4
  max_memory = 16.GB
  max_time = 1.h

  // Input data
  readPaths = [
    ['SRR1106775_1', ['/bioinfo/local/curie/ngs-data-analysis/testdataset_pipelines/RNA-seq/Gendrel2012/SRR1106775_1M_1.fastq.gz','/bioinfo/local/curie/ngs-data-analysis/testdataset_pipelines/RNA-seq/Gendrel2012/SRR1106775_1M_2.fastq.gz']],
    ['SRR1106776_1', ['/bioinfo/local/curie/ngs-data-analysis/testdataset_pipelines/RNA-seq/Gendrel2012/SRR1106776_1M_1.fastq.gz','/bioinfo/local/curie/ngs-data-analysis/testdataset_pipelines/RNA-seq/Gendrel2012/SRR1106776_1M_2.fastq.gz']]
   ]

  // Annotations
  genome =  'MM10'
}
